version: '3.3'

services:
    db:
        image: mysql:5.7
    volumes:
        - db_data:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: workspace
        MYSQL_USER: root
        MYSQL_PASSWORD: root
    ports:
        - 3306:3306

    adminer:
        image: adminer
        ports:
          - 8080:8080

volumes:
    db_data: {}
